<div data-role="page" data-theme="b" id="khan-video">
    <div data-role="header">
        <a href="/iiab/" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
        <p>
            {% for level in breadcrumbs %}
            &gt; {{ level[1] }}
            {% endfor %}
        </p>
    </div>
    <div data-role="content">

        <video width="90%" id="video" autobuffer controls>
        <source src="{{h264}}">
        <source src="{{webm}}" type="video/webm">
        </video>

        <!-- script>
        var video = document.getElementById('video');
        video.addEventListener('click',function(){
        video.play();
        },false);
        </script -->
    </div>
</div>
