<div data-role="page" data-theme="b" id="kiwix-index">
    <div data-role="content">
        <h1>Wikipedia for {{ language }}</h1>
        <ul data-role="listview" data-divider-theme="b" data-inset="true">
            {% for book in library %}
            <li data-theme="c">
            <a href="{{ kiwix_url + '/' + book.get('humanReadableId') }}" data-transition="slide">
                <h3>{{ book.get('title') }}</h3>
                {% if 'description' in book %}
                <p>{{ book.get('description') }}</p>
                {% endif %}
            </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
