<div data-role="page" data-theme="b" id="wikipedia-languages">
    <div data-role="content">
        <h1>Wikipedia Languages</h1>
        <ul data-role="listview" data-divider-theme="b" data-inset="true">
            {% for language in languages %}
            <li data-theme="c">
            <a href="{{ '/iiab/wikipedia/library/' + language['language'] }}" data-transition="slide">
                {{ language['languageEnglish'] }}
            </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

