<div data-role="page" data-theme="b" id="wikipedia-languages">
    <div data-role="content">
        <h1>Wikipedia Languages</h1>
        <ul data-role="listview" data-divider-theme="b" data-inset="true">
            {% for language in languages %}
            <li data-role="list-divider" data-theme="c">
                {{ language['languageEnglish'] }}
            </li>
            {% for book in language['books'] %}
            <li data-theme="c">
            <a href="{{ kiwix_url + '/' + book.get('humanReadableId') }}" data-transition="slide">
                <h3>{{ book.get('title') }}</h3>
                {% if 'description' in book %}
                <p style="float: left;">{{ book.get('description') }}</p>
                {% endif %}
                <p style="float: right;">{{ book['articleCountString'] }} Articles</p>
            </a>
            </li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>

